/* @media (max-width: 576px) { */
body, html {
    height: 100%;
    background-color: rgba(199, 114, 53, 0.664);
    }

.parallax {
    /* The image used */
    background-image: url("static/pexels-thirdman-5256816.jpeg");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.288);
        color: white;
        padding: 20px;
    }
